:root {
    --border-radius: 1.25em;
    --selected-color: #00cdda;
    --glow-strength: 10px;
}

body {
    width: 100vw;
    background-color: #111;
    color: #ffffff;
    font-family: sans-serif;
    overflow-x: hidden;
}

main {
    margin-block: 8em;
}

@media screen and (min-width: 800px) {
    main, footer {
        width: 700px;
        margin-inline: auto;
    }
}

@media screen and (max-width: 800px) {
    main, footer {
        width: auto;
        margin-inline: 2em;
    }
}

section {
    width: 100%;
    padding: 0;
    margin: 4em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

button {
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    text-align: left;
    font-size: 1em;
    border: 2px solid white;
    padding: 1em 1.5em;
    border-radius: var(--border-radius);
    cursor: pointer;
}

input[type='checkbox'] {
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none; /* For Firefox */
    appearance: none;
    margin: 0;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.3em;
    cursor: pointer;
    transition-duration: 0.3s;
}

input[type='checkbox']:checked {
    background-color: var(--selected-color);
    border-color: var(--selected-color);
    box-shadow: var(--selected-color) 0 0 var(--glow-strength) 0;
}

*[hidden] {
    display: none !important;
}

/* Calendar selector */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    gap: 1em;
}

.calendar-item {
    transition-duration: 1s;
}

.calendar-item.selected {
    border-color: var(--selected-color);
    box-shadow:
        inset var(--selected-color) 0 0 var(--glow-strength) 0,
        var(--selected-color) 0 0 var(--glow-strength) 0;
    color: var(--selected-color);
    transition-duration: 0.5s;
}

.checkbox-field {
    display: flex;
    margin-block: 1.5em;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
}

.calendar-url {
    display: grid;
    grid-template-columns: 1fr max-content 2em;
    grid-template-rows: 1fr;
    align-items: center;
    margin-block: 1.5em;
    width: 100%;
    box-sizing: border-box;
    padding: 1em 1.5em;
    border-radius: var(--border-radius);
    background: #0a0a0a;
    color: #fff;
}

.calendar-url input {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

.copy-calendar-url {
    height: 2em;
    width: 2em;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url('/icons/copy.png');
    background-position: center;
    background-size: contain;
}

.copy-notice {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: fit-content;
    overflow: hidden;
    position: relative;
}

.copy-notice span {
    position: relative;
    right: -100%;
    width: fit-content;
    white-space: nowrap;
    text-align: right;
    padding-right: 0.5em;
    transition: right 0.5s ease;
}

.copy-notice.visible span {
    right: 0;
}

.no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}

.checkbox-field {
    cursor: pointer;
}

.checkbox-field * {
    cursor: pointer;
}

.error {
    color: #ff4c4c;
}

.calendar-builder-input {
    display: flex;
    gap: 2em;
    justify-content: stretch;
    align-items: flex-end;
    margin-block: 1em;
}

.calendar-builder-input div {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}

.calendar-builder-input input {
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 0.5em;
    background: transparent;
    color: white;
}

summary {
    font-weight: bold;
}

details {
    margin: 1em 0 2.5em 1em;
}

a {
    color: var(--selected-color);
}

footer {
    margin-top: 5em;
    margin-bottom: 2em;

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    align-items: center;
}

.pixelnheart::after {
    display: inline-block;
    content: "";
    height: 1.2em;
    width: 1.2em;
    background: transparent url('/icons/pixelnheart.png') no-repeat;
    background-size: 1em;
    background-position: bottom;

    scale: 1.5;
    translate: 0 0.05em;
}